In [9]:

import pandas as pd
import numpy as np
import csv

In [13]:
df = pd.read_csv("Dataset.csv")

In [14]:
print(df.head ())

   YEAR LocationAbbr   LocationDesc                  TopicType  \
0  2004           OH           Ohio  Tobacco Use – Survey Data
1  2008           AL        Alabama  Tobacco Use – Survey Data
2  2015           WV  West Virginia  Tobacco Use – Survey Data
3  2005           IL       Illinois  Tobacco Use – Survey Data
4  2005           CT    Connecticut  Tobacco Use – Survey Data

                       TopicDesc     MeasureDesc DataSource  Response  \
0          Cigarette Use (Youth)  Smoking Status        YTS      Ever
1          Cigarette Use (Youth)  Smoking Status        YTS      Ever
2  Smokeless Tobacco Use (Youth)     User Status        YTS  Frequent
3          Cigarette Use (Youth)  Smoking Status        YTS      Ever
4  Smokeless Tobacco Use (Youth)     User Status        YTS      Ever

  Data_Value_Unit Data_Value_Type  ...                    GeoLocation  \
0               %      Percentage  ...  (40.060210141, -82.404260056)
1               %      Percentage  ...  (32.840571122, -86.631860762)
2               %      Percentage  ...  (38.665510202, -80.712640135)
3               %      Percentage  ...  (40.485010283, -88.997710178)
4               %      Percentage  ...   (41.56266102, -72.649840952)

  TopicTypeId TopicId  MeasureId  StratificationID1  StratificationID2  \
0         BEH  106BEH     166SSA               1GEN               8AGE
1         BEH  106BEH     166SSA               3GEN               8AGE
2         BEH  151BEH     169USS               2GEN               8AGE
3         BEH  106BEH     166SSA               1GEN               8AGE
4         BEH  151BEH     169USS               2GEN               8AGE

   StratificationID3 StratificationID4 SubMeasureID DisplayOrder
0               6RAC              1EDU        YTS08            8
1               6RAC              2EDU        YTS08            8
2               6RAC              2EDU        YTS12           12
3               6RAC              1EDU        YTS08            8
4               6RAC              2EDU        YTS11           11

[5 rows x 31 columns]

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10600 entries, 0 to 10599
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YEAR                        10600 non-null  int64
 1   LocationAbbr                10600 non-null  object
 2   LocationDesc                10600 non-null  object
 3   TopicType                   10600 non-null  object
 4   TopicDesc                   10600 non-null  object
 5   MeasureDesc                 10600 non-null  object
 6   DataSource                  10600 non-null  object
 7   Response                    8190 non-null   object
 8   Data_Value_Unit             10600 non-null  object
 9   Data_Value_Type             10600 non-null  object
 10  Data_Value                  10080 non-null  float64
 11  Data_Value_Footnote_Symbol  517 non-null    object
 12  Data_Value_Footnote         517 non-null    object
 13  Data_Value_Std_Err          10080 non-null  float64
 14  Low_Confidence_Limit        10083 non-null  float64
 15  High_Confidence_Limit       10080 non-null  float64
 16  Sample_Size                 10080 non-null  float64
 17  Gender                      10600 non-null  object
 18  Race                        10600 non-null  object
 19  Age                         10600 non-null  object
 20  Education                   10600 non-null  object
 21  GeoLocation                 10596 non-null  object
 22  TopicTypeId                 10600 non-null  object
 23  TopicId                     10600 non-null  object
 24  MeasureId                   10600 non-null  object
 25  StratificationID1           10600 non-null  object
 26  StratificationID2           10600 non-null  object
 27  StratificationID3           10600 non-null  object
 28  StratificationID4           10600 non-null  object
 29  SubMeasureID                10600 non-null  object
 30  DisplayOrder                10600 non-null  int64
dtypes: float64(5), int64(2), object(24)
memory usage: 2.5+ MB
None

In [16]:
df.dropna(inplace=True)

In [ ]:
df.fillna(